* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(61, 115, 185);
    padding: 20px;
    position: sticky;
}

section {
    position: fixed;
}

.oem {
    font-size: 1.5rem;
    margin-top: -10px;
    margin-left: 20px;
    font-style: oblique;
}

.rem {
    background-color: rgb(4, 22, 80);
}

li {
    list-style: none;
}

ul {
    display: flex;
    position: ;
    margin-left: 1040px;
    margin-top: 17px;
}

li a {
    padding: 30px;
}



img {
    margin-left: 400px;
}

h1 {
    font-size: large;
    margin: 10px;
    margin-bottom: -29px;
    margin-left: 440px;
}

.zem {
    margin: 10px;
    margin-left: 550px;
}

h2 {
    font-size: large;
    margin: 10px;
    margin-left: 440px;
}

h3 {
    font-size: small;
    margin: 10px;
    margin-left: 540px;
    margin-top: -24px;
}

.minia {
    margin-left: 670px;
    margin-top: -26px;
}

.rem {
    margin: 23px;
    margin-left: 90px;
    margin-right: 130px;
    padding: 30px;
    border-radius: 18px;
}

.rem:hover {
    color: rgb(3, 3, 116);
}

.gradem {
    margin: 30px;
}

.gradem:hover {
    color: rgb(18, 18, 143);
}

.wenden {
    margin-left: 600px;
    position: absolute;
    margin-top: -70px;
    font-size: large;
}

.wenden:hover {
    background-color: rgb(41, 41, 155);
}

.sanad {
    margin-left: 310px;
}

.nadan {
    margin-left: 520px;
}

.dansa {
    margin-left: 480px;
}

.nasana {
    margin-left: 380px;
}